ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 9px 50px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #fd0ebd;
    color: white;
}

ul.pagination li a.active:hover {
    background-color: #e0e0e058;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

button {
    padding: 10px 20px;
    background-color: rgba(111, 99, 186, 255) ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  